/* src/components/Logout.css */

.logout-page {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #0c0303;
    border: 1px solid #160505;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .logout-message {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .return-button {
    width: 100%;
    padding: 10px;
    background-color: #0074d9;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .return-button:hover {
    background-color: #010407;
  }
  